/* SocialMediaIcons.css */

.social-media-icons {
    display: flex;
    justify-content: left;
    /* align-items: center; */
    max-width: 300px; /* Adjust the max-width as needed */
    margin: 0 auto;
  }
  
  .social-media-icons img {
    width: 30px; /* Adjust the size of the logos as needed */
    height: 30px;
  }
  @media only screen and (width<= 770px){
    .social-media-icons{
      margin-left: 10px;
    }

  }